:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  cursor: none; /* Hides the default system cursor everywhere */
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  cursor: none;
}

.circle-cursor {
  position: fixed;
  width: 10px; 
  height: 10px;
  background-color: rgba(255, 255, 255, 0.87); 
  border-radius: 50%; /* Makes it a circle */
  pointer-events: none; /* Prevents interference with clicks */
  background-color: transparent; /* Hollow inside */
  border: 4px solid rgba(255, 255, 255, 0.87);
  transform: translate(-50%, -50%);
  z-index: 9999;
  transition: transform 0.2s ease-in-out, border-color 0.2s ease-in-out;
}
/* Hover effect: Change color & increase size */
.circle-cursor.hovering {
  transform: scale(1.5); /* Grow cursor */
  border-color:  rgba(255, 255, 255, 0.87);  
}

/* This fade in is for the new stuff label */ 
.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-in.visible {
  transition: opacity 1s ease-in-out;
  opacity: 1;
}

.slider {
  display: flex;
  justify-content: center;
  margin-top: 2%;
  gap: 3rem;
  perspective: 800px; 
}

.slider_h1 {
  color: #242424;
  font-size: 2rem;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.5);
  margin: 0;
  padding: 20px;
}

.custom_slide {
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  transform-origin: center center;
  width: '15rem';
  height: '15rem';
  display: 'flex';
  position: 'relative';
  overflow: 'hidden';
}

.custom_slide:hover {
  transform: scale(1.20) rotate(1deg);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  z-index: 2;
}


.slide-title {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5rem 1rem;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
  backdrop-filter: blur(4px);
  position: absolute;
  bottom: 1rem;
}


.swiper-slide-active.custom_slide:hover {
  transform: scale(1.4);
  z-index: 10;
  box-shadow: 0 10px 30px rgba(0, 159, 233, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.slider-image.animating.right {
  transform: translateX(100%);
  animation: slideInFromRight 0.3s forwards;
}

.slider-image.animating.left {
  transform: translateX(-100%);
  animation: slideInFromLeft 0.3s forwards;
}

.swiper {
  width: 50%px;
  height: 18rem;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15rem;
  height: 100%;
}

@keyframes slideInFromRight {
  from { transform: translateX(100%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

@keyframes slideInFromLeft {
  from { transform: translateX(-100%); opacity: 0; }
  to { transform: translateX(0); opacity: 1; }
}

#next, #prev {
  position: relative;
  z-index: 9;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.tech-font {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

.date-font {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}
.aboutDiv {
  background-color: #191919;
}


.bluf-box {
  background-color:transparent;
  border: 0.125rem solid rgba(0, 0, 0, 0.2);
  border-radius: 1.25rem;
  padding: 3vw 6vw;
  width: 70rem;
  height:20rem;
  max-width: 60%;
  margin-top: 6%;
  box-shadow: 0 0.5rem 1.25rem rgba(0, 0, 0, 0.15);
  backdrop-filter: blur(10px);
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: left;
  overflow: hidden;
  position: relative;
}

.animated-line-container {
  width: 110%;
  display: flex;
  justify-content: flex-start;
  margin-top: .5rem;
}

.animated-line {
  height: 2px;
  background-color: rgba(255, 255, 255, 0.87);
  width: 0;
  opacity: 0;
  transition:
    width 3s ease-out,
    opacity 0.5s ease-in;
}

.animated-line.visible {
  width: 90%;
  opacity: 1;
}


.button_slider {
  background: transparent;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 2em;
  font-weight: 500;
  font-family: inherit;
}
button:hover {
  border-color: #646cff;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@keyframes spinAndFade {
  0% { transform: rotateY(0deg); opacity: 1; }
  50% { transform: rotateY(180deg); opacity: 0.5; }
  100% { transform: rotateY(360deg); opacity: 1; }
}

.spin-transition {
  animation: spinAndFade 0.6s ease-in-out;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}




